@import "tailwindcss";

:root {
  --font-body: 'Inter', sans-serif;
  --font-title: 'Playfair Display', serif;
}

body {
  font-family: var(--font-body);
  background-color: #0a0a0a;
  color: #ffffff;
}

/* TITRES */
h1, h2, h3 {
  font-family: var(--font-title);
  letter-spacing: -0.5px;
}

/* TEXTE */
p {
  line-height: 1.7;
  /* color: #d1d5db; */
}

/* BOUTONS */
button {
  font-weight: 500;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}

.animation-delay-200 {
  animation-delay: 0.2s;
}

.animation-delay-400 {
  animation-delay: 0.4s;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}